<section class="services-wrapper">
    <div layout="column" layout-align="center center">
        <h2 class="section-heading">our services</h2>
        <h3 class="section-subheading text-muted">Our serivice is not limited to what is listed below, just tell us what you want and let's discuss.</h3>
    </div>

    <div class="services" layout-gt-sm="row" layout-sm="column" layout-xs="column">
        <div class="service" layout="column" layout-align="start center" flex="33">
            <div class="logo"><i class="material-icons">extension</i></div>
            <h3 class="service-heading">software architecture</h3>
            <p class="text-muted">lets discuss your concern or problem, formulate some solutions and identify the scope and requirements.</p>
        </div>

        <div class="service" layout="column" layout-align="start center" flex="33">
            <div class="logo"><i class="material-icons">web</i></div>
            <h3 class="service-heading">development</h3>
            <p class="text-muted">
                lets put that idea into a healthy working application/website. or if you have an existing application/site and you want to upgrade or improve it, just give us a ping and let us do the work.
            </p>
        </div>

        <div class="service" layout="column" layout-align="start center" flex="33">
            <div class="logo"><i class="material-icons">devices</i></div>
            <h3 class="service-heading">responsive design</h3>
            <p class="text-muted">When we code we make sure that the result also looks good to mobile or any size of screens.</p>
        </div>
    </div>
</section>