.skills-wrapper {
    position: relative;
}
.skills-wrapper .txt-skill {
    text-transform: uppercase;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.skills-wrapper .rate {

}

.skills-wrapper .skills {
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0 !important;
    visibility: hidden;
}

.skills-wrapper .skills > footer {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: white;
    width: 100%;
}