<div class="container about" 
     layout="column" 
     class="container contact" 
     layout-align="center center"
     layout-padding>

	<div class="avater-container" layout="row" layout-align="center center">
		<div class="avatar" flex flex="auto"></div>
	</div>
	<div class="content" layout="row" layout-wrap>
		<div class="spacer" flex hide-sm></div>
		<div class="content-text" flex flex-gt-sm=66>
			<p>Darrel is a highly-motivated and results-oriented software developer based in the Philippines. His experience with clients in Asia, Australia, the United States and Europe over projects that cover both Web and Mobile Applications demonstrates the unique aptitude that revolves around service delivery.</p>

			<p>Darrel’s career profile spans technologies that include .NET Frameworks, DELPHI, and Front-End JavaScript [and Angular JS] over HTML/CSS and with his strong fundamental knowledge in C allows him to be a dynamic and versatile developer who can easily learn new technologies. He has worked on integrations with Mobile Applications (over both iOS & Android) as well – with clients from small SMEs to international organizations such as Novartis. The experience-span, unlike most other developers, include on-site actual deployments in vital operations such as monitoring systems in a Philippine Geothermal Power Plan using ROCKWELL technology.</p>

			<p>He is constantly looking towards learning new things and approaches in development. This humble yet resilient character makes him a highly desirable asset to any project he commits to.</p>
		</div>
		<div class="spacer" flex hide-sm></div>
	</div>
</div>