<div class="container about" 
     layout="column" 
     class="container contact" 
     layout-align="center center"
     layout-padding>

	<div class="avater-container" layout="row" layout-align="center center">
		<div class="avatar" flex flex="auto"></div>
	</div>
	<div class="content" layout="row" layout-wrap>
		<div class="spacer" flex hide-sm></div>
		<div class="content-text" flex flex-gt-sm=66>
			<p>I'm <b>Darrel Abello</b></p>
			<p>I'm a <b>Philippine based Web Developer</b></p>
			<p>I'm a gradate of <b>BSIT from University of southeastern philippines(2008 - 2013)</b></p>
			<p>I worked as a <b>counter salesman at cityhardware</b> while waiting for the next semester of school</p>
			<p>After i graduated, i worked as a <b>software developer for Digilution, INC</b>. and we use <b>DELPHI</b>, and also thanks to the company, i experienced installing a monitoring system in a <b>Geothermal power plant</b> we use <b>ROCKWELL</b> device for those projects. </p>
			<p>My next job is a <b>web developer for Zilverband</b>, and <b>there i started learning C# and Angular</b>(i actually started a web app from scratch, develop it and learn angular and C# at the same time) and fortunately i finished the project.</p>
			<p>My current job is a <b>web developer at samatosa</b></p>
		</div>
		<div class="spacer" flex hide-sm></div>
	</div>
</div>