.works-wrapper {
    position: relative;
}

.works-wrapper .portfolio {
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0 !important;
    visibility: hidden;
}

.works-wrapper .portfolio > footer {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: white;
    width: 100%;
    text-align: center;
}

.works-wrapper .portfolio > footer > span.description {
    display: none;
}