/***************************************************
*			PROFILE DASHBOARD
***************************************************/
.dashboard-navigation-menu {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

[ng-view] {
	width: 100%;
}