<article class="container home" layout="row" layout-align="center center" layout-wrap>
    <div class="avatar-container" flex-gt-sm="50" flex>
        <md-card class="tab-content-image avatar-container-mdcard"
                 ng-mouseover="startAnimation($event)"
                 ng-click="startAnimation($event)"
                 style="background-image:url({{imgSrc}})">

            <img style="visibility:hidden;" src="{{imgSrc}}" width="500" class="md-card-image" alt="Alternate Text" />

            <div class="bendings" style="opacity:0;" layout="column" layout-gt-sm="row" layout-align="center center">
                <div class="bendings-container" flex>
                    <div class="frontend"></div>
                    <span class="bending-text">Front end bending!</span>
                </div>
                <div class="bendings-container" flex>
                    <div class="backend"></div>
                    <span class="bending-text">Back end bending!</span>
                </div>
                <div class="bendings-container" flex>
                    <div class="graphics"></div>
                    <span class="bending-text">Graphics bending!</span>
                </div>
                <div class="bendings-container" flex>
                    <div class="open-bending"></div>                    
                </div>
            </div>
        </md-card>
    </div>
</article>