<section class="about-us-wrapper">
    <div layout="column" layout-align="center center">
        <h2 class="section-heading">About us</h2>
        <h3 class="section-subheading text-muted"></h3>
    </div>

    <div class="content text-muted">
        <p>Launched in 2017 as a community for entrepreneurs that are seeking for a solution for their business problems, or
            wanted to improve their business workflow and take their business to the next level. Or just wanted to make their
            business plan to an actual business. </p>

        <p>If you’re one of those people mentioned above, then you’re in the right corner of the internet.</p>

        <p>This page offers services from planning, development, consultation and maintenance of your website or any kind of
            applications, just tell us what you need. And feel free to view our works from our portfolio section to help
            you decide whether you let us help you with your business or not, Well that is the main why this site is created,
            to showcase our skills and tell clients that they can trust us.</p>

        <p>We are philippine based developers and we find it hard to get projects from clients if got nothing to show, so we
            decided to create this where we just add a new item to our portfolio section for every projects that we completed
            but of course provided with our clients permission.</p>

        <p>If you have friends that are looking for a the same services that we are offering.. Here is our social sites incase
            you want to recommend us.</p>

    </div>
</section>