.container.about {

}

.container.about > .content {
	margin-bottom: 50px;
	padding: 10px 20px;
}

.container.about > .avater-container > .avatar {
	background-image: url('../../../../resources/images/avatar1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}