.container.home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    display:table;
}

    .container.home .avatar-container {
        height: 100%;
        margin: 0 auto;
    }

        .container.home .avatar-container .avatar-container-mdcard {
            height: 100%;
            background-color: transparent;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition-duration: 5s;
        }

            .container.home .avatar-container .avatar-container-mdcard .bendings {
                color: white;
                transition-duration: 2s;
            }

        .container.home .avatar-container .tab-content-image:focus {
            outline: none;
            border: 0;
        }

        .container.home .avatar-container .avatar-container-mdcard > img {
        }

.tab-content-image .bendings .bendings-container {
    text-align: center;
}

.tab-content-image .bendings .backend,
.tab-content-image .bendings .frontend,
.tab-content-image .bendings .open-bending,
.tab-content-image .bendings .graphics {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    min-width: 100px;
    margin-bottom: 5px;
}

.tab-content-image .bendings .backend {
    background-image: url('../images/backend_development_icon.png');
}

.tab-content-image .bendings .frontend {
    background-image: url('../images/frontend_development_icon.png');
}

.tab-content-image .bendings .graphics {
    background-image: url('../images/graphics.png');
}

.tab-content-image .bendings .open-bending {
    background-image: url('../images/open_bending_icon.png');
}

