<div class="skills-wrapper">
    <div class="content-header skills-header"
         layout="column" 
         layout-align="center center">

        <ng-md-icon icon="settings_applications" style="fill: #767676" size="100"></ng-md-icon>
        <p class="content-header-text">My Skills</p>
    </div>
<div class="row">
    <div ng-repeat="(key,val)  in skills"
         layout-md="column"
         layout-padding
         ng-cloak>

         <div ng-bind="key"></div>

         <div layout-md="row">
            <div ng-repeat="skill in val">

                <h1 class="col-lg-3 col-md-6 col-sm-1 txt-skill"
                    ng-bind="skill.name">
                </h1>
            </div>
        </div>
    </div></div>
</div>