<div class="works-wrapper">
    <div class="content-header works-header"
         layout="column" 
         layout-align="center center">

        <ng-md-icon icon="work" style="fill: #767676" size="100"></ng-md-icon>
        <p class="content-header-text">My Works</p>
    </div>

    <div ng-repeat="item in portfolio">

        <div id="portfolio_{{$index}}"
             ng-click="gotoSite(item.link)"
             ng-mouseover="onMouseOver($index)"
             ng-mouseleave="onMouseLeave($index)"
             class="portfolio col-md-3"
             style="background:url({{item.imgLink}});">

            <footer class="transition-1s"
                    layout="column"
                    layout-align="center center">

                    <span class="title" ng-bind="item.title"></span>
                    <span class="description transition-halfsec" ng-bind="item.description"></span>
            </footer>
        </div>
    </div>
</div>