.portfolio-wrapper {
    position: relative;
}

.portfolio-wrapper .portfolio-container .portfolio {
    width: 390px;
    height: 360px;
    padding: 0 15px;
    margin: 0 0 30px 0; 
}

.portfolio-wrapper .portfolio-container .portfolio .thumbnail {
    width: 100%;
    height: 260px;
}

.portfolio-wrapper .portfolio-container .portfolio .portfolio-caption {
    padding: 25px;
}

.portfolio-wrapper .portfolio-container .portfolio .portfolio-caption p {
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    margin: 0;
}

.portfolio-wrapper .portfolio-container .portfolio .portfolio-caption h4 {
    font-weight: 700;
}