<section class="portfolio-wrapper">
    <div layout="column" layout-align="center center">
        <h2 class="section-heading">our portfolio</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</h3>
    </div>

    <div class="portfolio-container" layout="row" layout-wrap layout-align="center center">
        <div class="portfolio" *ngFor="let portfolio of portfolios"
            layout="column">
            <div class="thumbnail" 
                [ngStyle]="{ 
                    'background-image' : 'url(' + portfolio.thumbnailImageUrl + ')' }">

            </div>
            <div class="portfolio-caption" layout="column" layout-align="center center">
                <h4>{{portfolio.heading}}</h4>
                <p class="text-muted">{{portfolio.subHeading}}</p>
            </div>
        </div>
    </div>
</section>
