.app-wrapper {
      overflow-x: hidden;
}

.app-wrapper .sticky-navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 10;
}

.app-wrapper .sticky-navbar-mobile {
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.app-wrapper ul.nav-bar-items li {
  margin-right: 20px;
  text-transform: uppercase;
}

.app-wrapper .component-container {
  position: relative;
  padding: 150px 15px;
}

.bg-light-gray {
  background-color: #eee;
}