<div class="app-wrapper">

    <!--menu navigation for desktop view-->
    <nav class="sticky-navbar" [@stickyNavBarAnimation]='state' hide-sm hide-xs>
        <div flex="60" layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-align="space-between center" layout-fill>
            <div class="nav-bar-header" flex>
                <a href="#home">SmallDOT.com</a>
            </div>
            <ul class="nav-bar-items" hide-sm hide-xs layout="row">
                <li><a href="#services">services</a></li>
                <li><a href="#portfolios">portfolio</a></li>
                <li><a href="#about">about</a></li>
                <!--<li><a href="#team">team</a></li>-->
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>
    </nav>

    <!--menu navigation for mobile-->
    <nav class="sticky-navbar-mobile" hide-gt-sm>
        <div class="mobile-menu">
            <button md-button (click)="sidenav.open()">
                Open sidenav
                </button>
        </div>
    </nav>

    <md-sidenav-container>

        <md-sidenav #sidenav class="sidenav-content">
            <!--sidenav content here-->
        </md-sidenav>

        <div id="home">
            <app-home></app-home>
        </div>

        <div id="services" class="component-container" >
            <app-my-services></app-my-services>
        </div>

        <div id="portfolios" class="component-container bg-light-gray">
            <app-portfolio></app-portfolio>
        </div>

        <div id="about" class="component-container">
            <app-about></app-about>
        </div>

        <!--<div id="team" class="component-container bg-light-gray">
            <app-team></app-team>
        </div>-->

        <div id="contact" class="component-container bg-light-gray">
            <app-contact-us></app-contact-us>
        </div>


        <footer layout-gt-sm="row" layout-sm="column" layout-xs="column"
            layout-align="center center" id="page-footer">
            <div id="copy-right" flex>
                Copyright © darrelabello.com 2016
            </div>
            <div id="social-links" layout="row" layout-align="center center" flex>
                <i class="fa fa-twitter-square" style="font-size:36px"></i>
                <i class="fa fa-linkedin-square" style="font-size:36px; margin: 0 10px;"></i>
                <i class="fa fa-facebook-square" style="font-size:36px"></i>
            </div>
            <div id="terms_and_condition" flex>
                terms and condition
            </div>
        </footer>
    </md-sidenav-container>
</div>