.footer-wrapper {
    background: rgba(0, 0, 0, 0.2);
}

.footer-wrapper .brief-about-me > div > p {
    color: black;
    text-transform: 
}

.footer-wrapper .footer-note {
    width: 100%;
    background: #A7A7A7;
    color: #676769;
    text-align: center;
    height: 40px;
}

.footer-wrapper .avatar-pic {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: url('../images/profile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 3px;
}

.footer-wrapper .footer-content,
.footer-wrapper .social-sites {
    min-height: 300px;
}

.footer-wrapper .footer-content {
    width: 100%;
}

.footer-wrapper .social-sites {
    
}

.footer-wrapper .social-sites > ng-md-icon {
    cursor: pointer;
}
