body {
    font-family: Verdana, Geneva, sans-serif;
    overflow-x: hidden;
}

h1 {
    color: #404040;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    color: #767676;
    padding: 0px;
    font-weight: 400;
    margin: 0px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

.content-container {
    position: relative;
}

.arrow-indicator {
    width: 12px;
    height: 15px;
    background: black;
    position: absolute;
    bottom: 10px;
    left: 50%
}

.arrow-indicator:after {
    content: '';
    width: 12px;
    height: 12px;
    bottom: -8px;
    background: black;
    position: absolute;
    left: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.responsive-demo {
    background: url('../images/responsive-web-design.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:100%;
}

.content-header {
    height: 250px;
}

.content-header-text {
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-wrapper {
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.header-wrapper .brand > div {
    margin: 0 5px;
}

/*works*/
.works-wrapper {
    position: relative;
}

.works-wrapper .portfolio {
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0 !important;
    visibility: hidden;
}

.works-wrapper .portfolio > footer {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: white;
    width: 100%;
}

/*skills*/
.skills-wrapper {
    position: relative;
}
.skills-wrapper .txt-skill {
    text-transform: uppercase;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.skills-wrapper .rate {

}

.skills-wrapper .skills {
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0 !important;
    visibility: hidden;
}

.skills-wrapper .skills > footer {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: white;
    width: 100%;
}

/*footer*/
.footer-wrapper {
    background: rgba(0, 0, 0, 0.2);
}

.footer-wrapper .brief-about-me > div > p {
    color: black;
    text-transform: 
}

.footer-wrapper .footer-note {
    width: 100%;
    background: #A7A7A7;
    color: #00006F;
    text-align: center;
    height: 40px;
}

.footer-wrapper .avatar-pic {
    margin: 0 20px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: url('../images/profile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 3px;
}

.footer-wrapper .footer-content,
.footer-wrapper .social-sites {
    height: 300px;
}

.footer-wrapper .footer-content {
    padding: 2px 0;
    width: 100%;
}

.footer-wrapper .social-sites {
    
}

.footer-wrapper .social-sites > ng-md-icon {
    cursor: pointer;
}


/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}