/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/css/responsive.css';
@import './assets/css/mobilereset.css';
@import './assets/css/webreset.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    color: #422d2b;
}

md-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

md-toolbar-row {
    justify-content: space-between;
}

a {
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: semi-bold;
    line-height: 1.1;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-size:30px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
}

h5 {
    font-size: 14px;
    line-height: 14px;
}

h6 {
    font-size: 12px;
    line-height: 12px;
}

section h2.section-heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}

.text-muted {
    color: #777;
}

#main-page-title {
    font-size: 75px;
}

#page-footer {
    padding: 25px;
    text-align: center;
}

p {
    line-height: 1.75;
}