
.intro-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    background-image: url('/assets/images/coffee-smartphone-desk-pen.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.intro-wrapper .intro-lead {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}

.intro-wrapper .intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    text-align: center;
}