<div layout-gt-sm="row" layout="column" class="container contact" layout-wrap layout-padding>
	<div flex></div>
	<div layout="row" layout-wrap flex="66">
		<div flex="10">
			<div ng-repeat="sites in socialSites" class="social-sites">
				<a href="{{sites.link}}" target="_blank" title="{{sites.displayName}}">
					<ng-md-icon icon="{{sites.displayIcon}}" size="54"></ng-md-icon>
				</a>
			</div>
		</div>
		<div flex>
			<div class="avatar" flex="66"></div>
		</div>
	</div>
	<div flex></div>
</div>