.container.contact {
	margin-top: 50px;
	width: 100%;
}

.container.contact > div >  .social-sites {
	display: table-row;
}

.container.contact .avatar {
	background-image: url('../../../../resources/images/default-avatar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 100%;

}